.modal {
	display: block;

	.modal-dialog {
		margin: 10rem auto;
		width: 350px;

		.modal-content {
			border-radius: 1rem;
			padding: 0.5rem;
		}

		.modal-header {
			border: none;

			.modal-title {
				font-weight: 700;
			}
		}

		.modal-body {
			color: $grayblue;
		}

		.modal-footer {
			border: none;
		}

		.submit {
			background-color: $softred;
			border-color: $softred;
		}
	}
}
