.text-editor {
	display: flex;
	flex-direction: row;
	width: 100%;

	&.white {
		background-color: $white;
		border-radius: 0.5rem;
		margin-bottom: 1rem;
		padding: 30px;
	}

	.text-editor-user-icon {
		img {
			width: 2rem;
		}
	}

	.text-editor-textarea {
		color: $grayblue;
		flex-grow: 1;
		margin: 0 0.5rem;

		textarea {
			border: 1px solid $lightgray;
			border-radius: 0.2rem;
			padding: 12px 24px;
			resize: none;
			width: 100%;
		}
	}

	.btn-group {
		height: fit-content;

		.btn {
			border: none;
		}
	}

	.text-editor-submit {
		background-color: $moderateblue;
		color: $white;
		font-weight: 800;
		padding: 0.5rem 1rem;

		img {
			display: none;
		}
	}
}

@media only screen and (max-width: $dashboardWidth) {
	.text-editor {
		&.white {
			padding: 3%;
		}

		.text-editor-user-icon {
			img {
				display: none;
			}
		}

		.text-editor-textarea textarea {
			padding: 3% 4%;
		}

		.btn-group {
			height: unset;
			flex-direction: column;

			.btn {
				background-color: unset;
				padding: 0;
			}
		}

		.text-editor-submit {
			img {
				display: block;
			}

			.btn-text {
				display: none;
			}
		}

		.text-editor-cancel {
			color: black;
		}
	}
}
