.text-editor {
	width: 100%;
	flex-direction: row;
	display: flex;

	&.white {
		background-color: $white;
		border-radius: 0.5rem;
		margin-bottom: 1rem;
		padding: 30px;
	}

	.text-editor-user-icon {
		img {
			width: 2rem;
		}
	}

	.text-editor-textarea {
		color: $grayblue;
		flex-grow: 1;
		margin: 0 0.5rem;

		textarea {
			border: 1px solid $lightgray;
			border-radius: 0.2rem;
			padding: 12px 24px;
			resize: none;
			width: 100%;
		}
	}

	.btn {
		height: 2.5rem;
	}

	.text-editor-submit {
		background-color: $moderateblue;
		color: $white;
		font-weight: 800;
		padding: 0.25rem 1rem;
	}
}
